* text=auto eol=lf

**.cnp linguist-language=Canapea
**.canapea linguist-language=Canapea


#####
##
## ./parser/
##

# Generated parsers
parser/*.wasm linguist-generated

# Experimental syntax fiddling files work well
# when they are highlighted like Python
# but they're not really Python files
parser/examples/**.py linguist-language=Canapea

# Generated source files
parser/src/*.json linguist-generated
parser/src/parser.c linguist-generated
parser/src/tree_sitter/* linguist-generated

# C bindings
parser/bindings/c/** linguist-generated
parser/CMakeLists.txt linguist-generated
parser/Makefile linguist-generated

# Rust bindings
parser/bindings/rust/* linguist-generated
parser/Cargo.toml linguist-generated
parser/Cargo.lock linguist-generated

# Node.js bindings
parser/bindings/node/* linguist-generated
parser/binding.gyp linguist-generated
parser/package.json linguist-generated
parser/package-lock.json linguist-generated

# Python bindings
parser/bindings/python/** linguist-generated
parser/setup.py linguist-generated
parser/pyproject.toml linguist-generated

# Go bindings
parser/bindings/go/* linguist-generated
parser/go.mod linguist-generated
parser/go.sum linguist-generated

# Swift bindings
parser/bindings/swift/** linguist-generated
parser/Package.swift linguist-generated
parser/Package.resolved linguist-generated

# Zig bindings
parser/bindings/zig/* linguist-generated
parser/build.zig linguist-generated
parser/build.zig.zon linguist-generated


#####
##
## ./language-support-vscode/
##

# Everything in assets/ is considered as vendored
language-support-vscode/assets/** linguist-vendored


#####
##
## ./libcanapea/lib/
##

# Everything in lib/ is considered as vendored
libcanapea/lib/** linguist-vendored


#####
##
## ./libcanapea/codegen-es5/
##

# Generated code is considered generated code, duh
libcanapea/codegen-es5/fixtures/**.js linguist-generated


#####
##
## ./libcanapea/common/
##

# Everything in generated/ is considered generated code
libcanapea/common/generated/**.zig linguist-generated
