* text=auto eol=lf

**.sol3 linguist-language=sol3


#####
##
## ./parser/
##

# Generated parsers
parser/*.wasm linguist-generated

# Generated source files
parser/src/*.json linguist-generated
parser/src/parser.c linguist-generated
parser/src/tree_sitter/* linguist-generated

# C bindings
parser/bindings/c/** linguist-generated
parser/CMakeLists.txt linguist-generated
parser/Makefile linguist-generated

# Rust bindings
parser/bindings/rust/* linguist-generated
parser/Cargo.toml linguist-generated
parser/Cargo.lock linguist-generated

# Node.js bindings
parser/bindings/node/* linguist-generated
parser/binding.gyp linguist-generated
parser/package.json linguist-generated
parser/package-lock.json linguist-generated

# Python bindings
parser/bindings/python/** linguist-generated
parser/setup.py linguist-generated
parser/pyproject.toml linguist-generated

# Go bindings
parser/bindings/go/* linguist-generated
parser/go.mod linguist-generated
parser/go.sum linguist-generated

# Swift bindings
parser/bindings/swift/** linguist-generated
parser/Package.swift linguist-generated
parser/Package.resolved linguist-generated

# Zig bindings
parser/bindings/zig/* linguist-generated
parser/build.zig linguist-generated
parser/build.zig.zon linguist-generated

# Java bindings
parser/pom.xml linguist-generated
parser/bindings/java/** linguist-generated
